<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="../assets/css/about.css">
</head>

<body>
    <%-include('base') %>
        <div class="container">
            <h1 id="about">Our Story</h1>
            <p class="about-para">Royal Fitness Gym was founded in 2002 as a family owned and operated business
                specialising
                in supplying high-quality gym equipment at great prices. Instead of being just another gym equipment
                retailer, our founders wanted to be the best in the industry and set their minds to doing so! Over the
                last
                two decades Gym and Fitness has grown into one of Australia’s largest online fitness equipment
                retailers,
                helping thousands of customers live longer, happier and healthier lives.
            </p>
        </div>
    <%-include('base2') %>
</body>

</html>