<div id="navbar">
    <img src="../assets/static/logo.jpg" alt="gym logo">
    <div class="name">Royal Fitness Gym</div>
    <ul>
        <li class="home" id="active">
            <a id="nav-mid" href='/'>Home</a>
        </li>
        <li class="about">
            <a id="nav-mid" href="/about">About Us</a>
        </li>
    </ul>
    <button class="nav-btn" id="login"><a href="/login"> Log-in</a></button>
    <button class="nav-btn"><a href="/signup">Sign-up</a></button>
</div>