<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>redirect</title>
    <link rel="stylesheet" href="../assets/css/redirect.css">
</head>

<body>
    <%-include('base') %>
        <div class="container">
            <h2 class="heading2">Thanks, you can collect your free pass from our gym.</h2>
            <button class="home-btn"><a href="/">Home</a></button>
        </div>
    <%-include('base2') %>
</body>

</html>